* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", sans-serif;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.card {
  max-width: 350px;
  background-color: hsl(0, 0%, 100%);
  padding: 2%;
  border-radius: 15px;
  box-shadow: 8px 8px 0px #000;
  width: 90%;
}
.hero-img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1em;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.course-tag {
  color: hsl(0, 0%, 7%);
  font-weight: 800;
  background-color: hsl(47, 88%, 63%);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 0.8em;
}
.course-published {
  font-weight: 500;
  margin-bottom: 1em;
}
.course-title {
  margin-bottom: 0.8em;
  font-weight: 800;
}

.course-description {
  color: hsl(0, 0%, 42%);
  font-size: 16px;
  margin-bottom: 1em;
}
.author {
  display: flex;
  align-items: center;
  gap: 0.75em;
}
.author-img {
  width: 40px;
  height: 40px;
}
.author-name {
  font-size: 16px;
  font-weight: 800;
}
@media (max-width: 400px) {
  .card {
    padding: 1rem;
    box-shadow: 4px 4px 0px #000;
  }

  .course-description,
  .author-name {
    font-size: 14px;
  }
}
